HELP.md
.gradle
/gradle
build/
bin/
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

### MAC Template
*.DS_Store

### yml
application-oauth.yml
