@font-face {
    font-family: 'NanumSquareRound';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    text-align: center;
}

section {
    text-align: center;
}

.user_btn {
    padding: 15px 20px;
    font-size: 24px;
    font-family: 'NanumSquareRoundOTF';
    color: #F5F5F5;
    background-color: #B2C9BD;
    border-radius: 33px;
    cursor: pointer;
    border: none;
}

.uploadImage_label {
    padding: 15px 20px;
    font-size: 24px;
    font-family: 'NanumSquareRoundOTF';
    color: #F5F5F5;
    background-color: #B2C9BD;
    border-radius: 33px;
    cursor: pointer;
    border: none;
}

.admin_btn {
    width: 199px;
    height: 63px;
    font-size: 26px;
    font-family: 'NanumSquareRoundOTF';
    color: #F5F5F5;
    background-color: #A9C2B3;
    border-radius: 33px;
    cursor: pointer;
    border: none;

    margin-bottom: 30px;
}

.line {
    color: #B2C9BD;
    border: 3px solid #B2C9BD;
    margin-top: 80px;
    margin-bottom: 30px;
}

input [type="text"] {
    width: 200px;
    height: 50px;
    /* font-size: 15px; */
    font-family: 'NanumSquareRoundOTF';
    border: none;
    border-radius: 15px;
    padding-left: 10px;
    background-color: #F5F5F5;
}

#box {
    margin: 30px 10px
}

#text {
    font-family: 'NanumSquareRoundOTF';
    color: #597164;
    font-weight: bolder;
}

#logo_img {
    margin-top: 130px;
    margin-bottom: 50px;
}

#login_btn {
    margin-top: 60px;
    margin-bottom: 150px;
}


#copyright_img {
    margin-bottom: 20px;
}

#copyright2_img {
    margin-bottom: 30px;
}

#main_page {
    background-color: #B2CABD;
    min-height: 100vh;
}

#menu_btn {
    width: 40px;
    margin-bottom: 35px;
    margin-right: 50px;
}

#camera_btn {
    width: 70px;
    padding-bottom: 24px;
}

#mypage_btn {
    width: 50px;
    margin-bottom: 30px;
    margin-left: 50px;
}


#main_footer {
    margin-top: 50px;
}


#user_tree {
    width: 300px;
}

.admin_page {
    background-color: #E6EFEA;
    min-height: 100vh;
}

#admin_img {
    margin-bottom: 26;
}

#admin_btns {
    text-align: center;
    margin-bottom: 26;
}

#checkReport_btn {
    margin-top: 26px;
}

#logo2_img {
    position: absolute;
    top: 30px;
    left: 30px;
}

#report_img {
    margin-top: 30px;
    width: 300px;
}

#report_footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

#upload_btn {
    margin-top: 40px;
}

#upload_img {
    margin-top: 30px;
    width: 300px;
    margin-bottom: 60px;
}

#productInfo_Modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400;
    overflow-y: auto;
    background-color: white;
}